#row{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
#row > #copyright{
    position: relative;
    text-align: center;
}
/* CSS da página de login */
#login{
    background-image: url('../image/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#login-card{
    position: relative;
    top: 20%;
    border-radius: 15px;
}
#logo-login{
    position: relative;
    top: 10px;
    width: 140px;
    height: 80px;
    margin: 10px 0 10px 0;
}
.login-input > input {
    width: 330px;
    height: 50px;
    border-radius: 20px;
}
.login-input > .form-check{
    font-size: 12px;
}
.login-input > .form-check > label{
    position: relative;
    top: 3px;
}
.login-input > .btn-link{
    position: relative;
    left: 170px;
    bottom: 27px;
}
#login-buttom{
    position: relative;
    left: 5px;
    margin-top: -10px;
    background-color: #00ffdc;
    color: #FFFAFA;
    font-size: 22px;
    border-radius: 20px;
    border: 0px;
}
#login-buttom > .fas{
    position: relative;
    top: 2px;
    left: 6px;
}
/* CSS da página de adicionar Startup */
.form-inse{
    position: relative;
    width: 90%;
    left: 20px;
}
#sub-cont{
    position: relative;
    margin-top: 30px;
    left: 10%;
}
#form-start{
    position: relative;
    width: 880px;
}
#title{
    margin-bottom: 10px;
}
.start{
    margin-top: 5px;
    margin-bottom: 5px;
}
.start > input{
    width: 700px;
    height: 40px;
    border-radius: 20px;
}
.start > button{
    position: relative;
    bottom: 63px;
    width: 150px;
    height: 40px;
    border-radius: 13px;
    font-size: 18px;
    float: right;
}
/* CSS da página de trocar senha */
#sub-cont-trocar{
    position: relative;
    margin-top: 30px;
    left: 10%;
}
#form-start-trocar{
    position: relative;
    width: 880px;
}
#title-trocar{
    margin-bottom: 10px;
}
.start-trocar{
    margin-top: 5px;
    margin-bottom: 5px;
}
.start-trocar > input{
    width: 700px;
    height: 40px;
    border-radius: 20px;
}
.start-trocar > button{
    position: relative;
    bottom: 41px;
    width: 160px;
    height: 40px;
    border-radius: 13px;
    font-size: 18px;
    float: right;
}

/* CSS da página de Editais */
#arrow-left-edital{
    position: relative;
    left: 10px;
    bottom: 50px;
}
.edital-logo{
    background-image: url('../image/edital-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.edital-logo > .container > h1{
    position: relative;
    color: #fff;
    font-size: 50px;
    left: 8%;
}
#open-create-edital{
    position: relative;
    float: right;
    bottom: 55px;
    right: 10px;
}
#save-edital{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    border: #00ffdc;
    border-radius: 25px;
    background-color: #00ffdc;
}
#search-edital{
    position: relative;
    width: 330px;
    left: 20px;
    bottom: 10px;
}
#search-edital > form{
    width: 300px;
}
#search-edital > form > .form-group > input{
    width: 200px;
    border-radius: 15px;
}
#search-edital > form > .form-group > a{
    position: relative;
    bottom: 8px;
    right: 16px;
    z-index:1;
}
@media screen and (max-width: 580px){
    #search-edital > form > .form-group > a{
        bottom: 40px;
        left: 190px;
    }   
}
#modal-create-edital{
    width: 400px;
    height: 450px;
}
#modal-update-edital{
    width: 400px;
    height: 450px;
}
#form-modal > form{
    color: #00ffdc;
    font-weight: bold;
}
#form-modal > form > .form-group > input{
    margin: 3px 0 6px 0;
    border: none;
    border-radius: 3px;
    border-bottom: solid 1px #696969;
}
#form-modal > form > .form-group > textarea{
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #696969;
}
#form-edital{
    position: relative;
    width: 300px;
    height: 350px;
}
#form-edital > h4{
    text-align: center;
}
#form-edital > #form{
    position: relative;
    margin-left: 1.5rem;
    width: 250px;
    height: 330px;
}
.edital-card{
    position: relative;
    width: 16rem;
    height: 12rem;
    margin: 10px 6px 70px 6px;
}
.edital-card > .card > .card-body > h5{
    text-align: center;
}
.edital-card > .card > .card-body > small{
    position: relative;
    top: 10px;
    float: right;
}
#detail-edital > a{
    position: relative;
    top: 1rem;
}
#detail-edital > .dropdown{
    position: relative;
    float: right;
    margin-top: 1rem;
}
#detail-edital > .text-center > img{
    position: relative;
    margin: 2rem 0 2rem 0;
    width: 420px;
    height: 200px;
}
#detail-edital > h1{
    position: relative;
    font-size: 45px;
    color: #696969;
    font-weight: bold;
    margin: 1rem 0 2rem 0;
    text-align: center;
}
#detail-edital > .text-justify{
    font-size: 22px;
}
#detail-edital > #link-edital{
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}
#detail-edital > #link-edital > b{
    color: #696969;
    font-weight: bold;
}
/* CSS da página da agenda */
#agenda{
    position: relative;
    left: 60px;
}
.form-agenda > input[type=text]{
    position: relative;
    width: 350px;
    color: #000;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px #696969;
    box-shadow: none;
}
.form-agenda > select{
    position: relative;
    width: 350px;
    color: #000;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px #696969;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.form-agenda > select::-ms-expand{
    display: none;
}
.form-agenda > select:focus{
    box-shadow: none;
}
.form-agenda > .dropdown > button{
    text-align: justify;
    box-shadow: none;
    border: none;
}
.form-agenda > .dropdown > .dropdown-menu {
    box-shadow: none;
}